{% load staticfiles %}
<img src="#">
<h1>{{album.album_title}}</h1>
<h2>{{album.artist}}</h2>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="{%url 'music:favorite' album.id %}" method="post">
    {%csrf_token%}
    {% for song in album.song_set.all%}
        <input type="radio" name="song" id="song{{ forloop.counter }}"  value="{{ song.id }}"/>
        <label for="song{{ forloop.counter }}">
        {{ song.song_title }}
        {% if song.is_favorite %}
        <img src="{% static 'css/images/star.png' %}">
        {% endif %}
        </label><br>
    {% endfor %}
     <input type="submit" value="favorite">
</form>
